$light-color: #67b6f6;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #e0ffff;
// $primary-color: #0e6cff;
$secondary-color: #ff8700;

// set text color based on bc
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// set bg $ text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}
