@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;

  background: rgb(34, 90, 179);
  background: linear-gradient(
    180deg,
    rgba(34, 90, 179, 1) 0%,
    rgba(103, 182, 246, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

.showcase {
  border: 3px solid rgba(103, 182, 246, .5);
  border-radius: 20px;
  padding: 1rem;
  background: rgb(34, 90, 179);
  background: linear-gradient(
    10deg,
    rgba(34, 90, 179, 1) 0%,
    rgba(103, 182, 246, 1) 100%
  );
}

@import "mobile";
@import "utilities";
@import "buttons";
